*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    padding-left: 35px;
    padding-top: 20px;
}
@media screen and (max-width: 900px){
    iframe{
        max-width: 100%;
        padding-top: 10px;
    }
}