body{
    background: linear-gradient(to right, #000000, #6b6b6b);
}
p{
    text-align: center;
}
.dog{
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
footer{
    margin-top: 200px;
}
@media screen and (max-width: 900px) {
    .dog{
        padding-top: 20px;
    padding-bottom: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
    }
}